<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MiniBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <MiniBug.Properties.Settings>
            <setting name="GridShowBorders" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GridBorderColor" serializeAs="String">
                <value>197, 197, 197</value>
            </setting>
            <setting name="GridSelectionBackColor" serializeAs="String">
                <value>172, 212, 253</value>
            </setting>
            <setting name="GridSelectionForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="GridFont" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="GridAlternatingRowColor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GridRowBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridAlternateRowBackColor" serializeAs="String">
                <value>White</value>
            </setting>
        </MiniBug.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>